/* Day 9*/

.parent {
  background-color: #00aaff;
}
.child-one {
  background-color: #75ff74;
  position: relative;
  left: 10px;
}
.child-two {
  background-color: #f77575;
}
.child-three {
  background-color: #ff74e9;
}
